<!DOCTYPE html>
<html>
<head>
	<title><%= title %> </title>
    <%- include('partials//head.ejs') %>
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
    <%- include('partials/navigation.ejs') %>
  	

	

<!-- Juegos -->

<div class="games-container">
    <div class="game-box">
        <h2>Tragamonedas</h2>
        <img src="/img/slots1.jpg" alt="Slots">
        <a class="play-button" href="/src/tragamonedas.html">JUGAR AHORA</a>
    </div>
    <div class="game-box">
        <h2>Blackjack</h2>
        <img src="/img/fondomesabj.jpg" alt="Blackjack">
        <a class="play-button" href="/src/blackjack.html">JUGAR AHORA</a>
    </div>
    <div class="game-box">
        <h2>Ruleta</h2>
        <img src="/img/ruletafondo.jpg" alt="Ruleta">
        <a class="play-button" href="#">JUGAR AHORA</a>
    </div>
</div>

  </div>

</body>
</html>
